<footer class="footer container">
  <div class="footer__logo">
    <svg class="footer__logo--icon" aria-label="Логотип">
      <use href="./images/sprite.svg#logo"></use>
    </svg>
    <svg class="footer__logo--text" aria-label="Название сайта">
      <use href="./images/sprite.svg#logo-text"></use>
    </svg>
  </div>
  <div class="footer__section--wrapper">
    <div class="footer__left--section">
      <h2 class="footer__title">Company</h2>
      <ul class="footer__list">
        <li class="footer__item"><p class="footer__text">About Us</p></li>
        <li class="footer__item"><p class="footer__text">Our Team</p></li>
        <li class="footer__item"><p class="footer__text">Jobs</p></li>
        <li class="footer__item"><p class="footer__text">Press</p></li>
        <li class="footer__item"><p class="footer__text">In the Media</p></li>
        <li class="footer__item"><p class="footer__text">VPN Reviews</p></li>
        <li class="footer__item"><p class="footer__text">Companies We Support</p></li>
        <li class="footer__item"><p class="footer__text">Contact Us</p></li>
        <li class="footer__item"><p class="footer__text">Blog</p></li>
      </ul>
      <h2 class="footer__title">LEGAL</h2>
      <ul class="footer__list">
        <li class="footer__item"><p class="footer__text">Terms Of Service</p></li>
        <li class="footer__item"><p class="footer__text">Privacy Policy</p></li>
        <li class="footer__item"><p class="footer__text">DMCA Policy</p></li>
        <li class="footer__item"><p class="footer__text">Export Control Policy</p></li>
      </ul>
    </div>
    <div class="footer__right--section">
      <h2 class="footer__title">PROGRAMS</h2>
      <ul class="footer__list">
        <li class="footer__item"><p class="footer__text">Whitehat Security</p></li>
        <li class="footer__item"><p class="footer__text">Affiliates</p></li>
      </ul>
      <h2 class="footer__title">learn more</h2>
      <ul class="footer__list">
        <li class="footer__item"><p class="footer__text">VPN Encryption</p></li>
        <li class="footer__item"><p class="footer__text">Android VPN App</p></li>
        <li class="footer__item"><p class="footer__text">iOS VPN App</p></li>
        <li class="footer__item"><p class="footer__text">PIA Sitemap</p></li>
      </ul>
      <h2 class="footer__social--title">SOCIAL</h2>
      <ul class="footer__social--list">
        <li class="footer__social--item">
          <a href="#" class="footer__social--link">
            <svg width="28" height="28" class="footer__social--icon">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social--item">
          <a href="#" class="footer__social--link">
            <svg width="28" height="28" class="footer__social--icon">
              <use href="./images/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social--item">
          <a href="#" class="footer__social--link">
            <svg width="28" height="28" class="footer__social--icon">
              <use href="./images/sprite.svg#google-plus"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social--item">
          <a href="#" class="footer__social--link">
            <svg width="28" height="28" class="footer__social--icon">
              <use href="./images/sprite.svg#linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social--item">
          <a href="#" class="footer__social--link">
            <svg width="30" height="30" class="footer__social--icon">
              <use href="./images/sprite.svg#reddit"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social--item">
          <a href="#" class="footer__social--link">
            <svg width="30" height="30" class="footer__social--icon">
              <use href="./images/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <h2 class="footer__title">ABOUT</h2>
  <p class="footer__about--text">
    Private Internet Access is the leading VPN Service provider specializing in secure, encrypted
    VPN tunnels which create several layers of privacy and security providing you safety on the
    internet. Our service is backed by multiple gateways worldwide with access in 28+ countries, 44+
    regions.
  </p>
  <p class="footer__about--text">Map data provided by Google.</p>
  <p class="footer__about--text">
    PC Mag Editor’s Choice award image reprinted with permission. © 2012 Ziff Davis, Inc. All Rights
    Reserved.PC Mag quote reprinted from www.pcmag.com with permission. © 2012 Ziff Davis, Inc. All
    Rights Reserved.
  </p>
  <p class="footer__about--text">© London Trust Media, Inc. All Rights Reserved.</p>
</footer>
