<header class="header">

	<div class="navigation__container">
		<nav class="navigation">
			<div class="navigation__logo">
				<svg width="30px" height="34px" aria-label="Логотип">
					<use class="navigation__logo--icon" href="./images/sprite.svg#logo"></use>

				</svg>
				<svg width="224px" height="24px" aria-label="Название сайта">
					<use class="navigation__logo--text" href="./images/sprite.svg#logo-text"></use>
				</svg>
			</div>
			<div class="navigation__link">
				<a href="#" class="navigation__link--item">WHY US</a>
				<a href="#" class="navigation__link--item">VPN APPS</a>
				<a href="#" class="navigation__link--item">SUPPORT</a>
				<a href="#" class="navigation__link--item">RESOURCES</a>
			</div>
			<div class="navigation__btn">
				<button type="button" class="navigation__btn--log">LOG IN</button>
				<button type="button" class="navigation__btn--get">GET STARTED</button>
			</div>


		</nav>
	</div>
</header>