<section class="hero">
  <img src="./images/hero.jpg" alt="" class="hero__img" />
  <div class="hero__text--container container">
    <h2 class="card__title">
      TV Addons: Legal battle against Canadian media giants demonstrates severe consequences facing
      developers accused of copyright infringement
    </h2>
    <div class="card__text--wrapper">
      <p class="card__text--name">Danica Sergison</p>
      <p class="card__text--date">| JUL 08, 2018</p>
    </div>
    <p class="card__text--info">Copyright, News, Open Source, Privacy</p>

    <div class="card__comment--wrapper">
      <svg class="card__icon">
        <use href="./images/sprite.svg#comment"></use>
      </svg>
      <p>0</p>
    </div>
  </div>
</section>
