<section class="post__section container">
  <div class="post">
    <div class="post__input--wrapper">
      <span class="post__icon"><i class="fa fa-search"></i></span>
      <input
        type="text"
        name="search"
        class="post__input"
        placeholder="Search blog"
        required
        minlength="2"
        autocomplete="off"
      />
    </div>
    <h2 class="post__title">Recent posts</h2>
    <ul class="post__list">
      <li class="post__list--item">
        <img src="./images/hero.jpg" alt="" class="card__img" />

        <h2 class="card__title">
          The Internet Cannot be Trusted – Beamsplitters, Backdoors, and Broken Promises
        </h2>
        <div class="card__text--wrapper">
          <p class="card__text--name">Derek Zimmer</p>
          <p class="card__text--date">| JUL 25, 2018</p>
        </div>
        <p class="card__text--info">Copyright, News, Open Source, Privacy</p>

        <div class="card__comment--wrapper">
          <svg class="card__icon">
            <use href="./images/sprite.svg#comment"></use>
          </svg>
          <p>0</p>
        </div>
      </li>
      <li class="post__list--item">
        <img src="./images/hero.jpg" alt="" class="card__img" />

        <h2 class="card__title">How to get cheaper flights using a VPN</h2>
        <div class="card__text--wrapper">
          <p class="card__text--name">Jayson</p>
          <p class="card__text--date">| JUL 24, 2018</p>
        </div>
        <p class="card__text--info">Guides</p>

        <div class="card__comment--wrapper">
          <svg class="card__icon">
            <use href="./images/sprite.svg#comment"></use>
          </svg>
          <p>0</p>
        </div>
      </li>
      <li class="post__list--item">
        <img src="./images/hero.jpg" alt="" class="card__img" />

        <h2 class="card__title">Net Neutrality was repealed, but the fight is far from over</h2>
        <div class="card__text--wrapper">
          <p class="card__text--name">Chris Miller</p>
          <p class="card__text--date">| JUL 22, 2018</p>
        </div>
        <p class="card__text--info">Governments, Net Neutrality, News</p>

        <div class="card__comment--wrapper">
          <svg class="card__icon">
            <use href="./images/sprite.svg#comment"></use>
          </svg>
          <p>0</p>
        </div>
      </li>
    </ul>
    <button type="button" class="post__btn">older posts</button>
  </div>
</section>
