<section class="subscribe">
  <h2 class="subscribe__title">Sign up today – 7 day money back guarantee</h2>
  <div class="subscribe__list--wrapper">
    <div class="pricingTable">
      <div class="pricingTable__header">
        <h2 class="pricingTable__title">Monthly</h2>
      </div>
      <div class="pricing__plans">
        <i class="fa fa-usd icon__dollar"></i>
        <p class="price__value">6.95</p>
        <p class="price__text">/mo</p>
      </div>
      <p>Includes all VPN features.</p>

      <div class="pricingTable-sign-up">
        <!-- BUTTON BOX-->
        <a href="#" class="btn btn-block btn-default">SIGN UP</a>
      </div>
      <!-- BUTTON BOX-->
    </div>
    <div class="pricingTable">
      <div class="pricingTable__header">
        <h2 class="pricingTable__title">Two year</h2>
      </div>
      <div class="pricing__plans">
        <i class="fa fa-usd icon__dollar"></i>
        <p class="price__value">2.91</p>
        <p class="price__text">/mo</p>
      </div>
      <p><span class="price__red">$166.80</span>$69.95 per two years</p>
      <p class="price__save">Save 58%*</p>

      <div class="pricingTable-sign-up">
        <!-- BUTTON BOX-->
        <a href="#" class="btn btn-block btn-default">SIGN UP</a>
      </div>
      <!-- BUTTON BOX-->
    </div>
    <div class="pricingTable">
      <div class="pricingTable__header">
        <h2 class="pricingTable__title">Yearly</h2>
      </div>
      <div class="pricing__plans">
        <i class="fa fa-usd icon__dollar"></i>
        <p class="price__value">3.33</p>
        <p class="price__text">/mo</p>
      </div>
      <p><span class="price__red">$83.40</span>$39.95 per year</p>
      <p class="price__save">Save 52%*</p>
      <div class="pricingTable-sign-up">
        <!-- BUTTON BOX-->
        <a href="#" class="btn btn-block btn-default">SIGN UP</a>
      </div>
      <!-- BUTTON BOX-->
    </div>
  </div>
  <div class="pay">
    <h2 class="pay__title">Ways to pay:</h2>
    <ul class="pay__list">
      <li class="pay__item">
        <a class="" target="_blank" href="#">
          <svg class="pay__icon">
            <use href="./images/sprite.svg#bitcoin"></use>
          </svg>
        </a>
      </li>
      <li class="pay__item">
        <a class="" target="_blank" href="#">
          <svg class="pay__icon">
            <use href="./images/sprite.svg#ms-card"></use>
          </svg>
        </a>
      </li>
      <li class="pay__item">
        <a class="" target="_blank" href="#">
          <svg class="pay__icon">
            <use href="./images/sprite.svg#okpay"></use>
          </svg>
        </a>
      </li>
      <li class="pay__item">
        <a class="" target="_blank" href="#">
          <svg class="pay__icon">
            <use href="./images/sprite.svg#paypal"></use>
          </svg>
        </a>
      </li>
      <li class="pay__item">
        <a class="" target="_blank" href="#">
          <svg class="pay__icon">
            <use href="./images/sprite.svg#americanexpress"></use>
          </svg>
        </a>
      </li>
      <li class="pay__item">
        <a class="" target="_blank" href="#">
          <svg class="pay__icon">
            <use href="./images/sprite.svg#googlepay"></use>
          </svg>
        </a>
      </li>
      <li class="pay__item">
        <a class="" target="_blank" href="#">
          <svg class="pay__icon">
            <use href="./images/sprite.svg#applepay"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="pay__link--wrapper">
    <a href="#" class="pay__link">How to pay anonymously</a>
    <a href="#" class="pay__link">REDEEM GIFT CARD</a>
  </div>
</section>
