.card{
	&__img {
		width: 335px;
		margin: 0 auto;
		margin-bottom: 24px;
	}
	&__title {
		font-weight: 300;
		font-size: 24px;
		line-height: 1.42;
		color: #22252E;
		margin-bottom: 14px;
	}
	&__text--wrapper {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}
	&__text--name {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.57;
		color: #323642;
		margin-right: 8px;
	
	}
	
	&__text--date {
		font-weight: 400;
		font-size: 14px;
		line-height: 1.57;
		color: var(--secondary-text-color);
	}
	
	&__text--info {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		color: var(--accent-primary-color);
		margin-bottom: 10px;
	}
	
	&__icon {
		width: 16px;
		height: 16px;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	
	&__comment--wrapper {
		display: flex;
	
	}
}
